@using Microsoft.AspNet.Identity

<head>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <style>
        .navbar-right {
            display: flex;
            align-items: center;
            position:absolute;
            top:25%;
            left:67%;
            font-size:20px;
        }
     
    </style>
</head>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <box-icon name='basket' type='solid' color='#ffffff'></box-icon>
    <li>@Html.ActionLink("เข้าสู่ระบบ/สมัครสมาชิก", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    @*<li>@Html.ActionLink("สมัครสมาชิก", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
</ul>
}
